/**
* WLS - Variables
* Common variables for prototypes
* -----------------------
* @author: krichard
* @email: kevin.richard@swissquote.ch
*/

/**
* Common variables
*/

// box sizing
$sq-DefaultBoxSizing: border-box;

/**
* Font variables
*/

// font family
$sq-DefaultFontFamily: Arial, Verdana, Geneva, sans-serif;

// reset to "normal"
$sq-DefaultFontReset: normal;
